<div class="card photo-form">
  <div class="card-body">

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Редактировать', edit_photo_path(@photo) %> |
<%= link_to 'Назад', photos_path %>
</div>
</div>